<!DOCTYPE html>
<html>
<head>
<meta content=`text/html`; charset=`UTF-8` http-equiv=`Content-Type` />
</head>
<body>
<h1>Email desde la pa&acute;gina web: </h1>
<p>
	<ul>
		<li>Nombre: <%= @email.nombre%></li>
		<%if @email.telefono!=""%> <li>Telefono: <%= @email.telefono%></li><%end%>
		<li>Email: <%= @email.email%></li>
	</ul>

</p>
<h4>Mensaje:</h4>
<p>
<%= @email.mensaje%>
</p>
</body>
</html>