<section id="acerca" class="seccion-gris">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="titulo">La empresa</h1>
                    <br/> <br/>
                    <div class="row">
				        <div class="col-md-5">            
				           <p>
                    	Productos Álvarez es una empresa familiar, dedicada a la elaboración de dulces artesanos que distribuye sus productos a nivel nacional.

						La nuestra es la cuarta generación dedicada a la fabricación de pan y pastelería. Pestiños, galletas rellenas de crema pastelera y empanadillas son nuestros productos principales. En navidad también elaboramos los famosos roscones de reyes rellenos de la mejor nata.

						Una exquisita elaboración, un exigente control de calidad y una excelente presentación nos dan la confianza de sacar al mercado unos productos artesanos de calidad y a un precio competitivo. 

						La seriedad de nuestra empresa viene avalada por la cantidad de clientes satisfechos y la continua expansión en el mercado. Año a año ampliamos nuestra cartera de clientes, tenemos la calidad del producto y la satisfacción del cliente como nuestro objetivo principal.
                    </p>
				        </div>
				      
				        <div class="col-md-3">            
				            <div class="thumbnail img-fluid">
				                <div class="caption">
				                    <h4 class='imagen'>Empresa familiar</h4>
				                    <p>Cuatro generaciones dedicadas a la pastelería.</p>        
				                </div>
				                 <%=image_tag ('logo.png')%>
				            </div>

				            <div class="thumbnail img-fluid">
				                <div class="caption">
				                    <h4 class='imagen'>Producción artesana</h4>
				                    <p>Elaboramos siguiendo las recetas tradicionales de la zona.</p>        
				                </div>
				                 <%=image_tag ('foto 3.png')%>
				            </div>
				        </div>
				        <div class="col-md-4">            
				            <div class="thumbnail img-fluid">
				            	 <a class="page-scroll" href="#pestinos">
				                <div class="caption">
				                    <h4 class='imagen'>Los mejores pestiños</h4>
				                    <p>De miel o de azúcar, si los pruebas te van a gustar. Hechos con todo nuestro cariño y los mejores ingredientes.</p>            
                   					<span class="glyphicon glyphicon-grande glyphicon-plus-sign" aria-hidden="true"></span>           
				                </div>
				                 <%=image_tag ('foto 19.png')%></a>
				            </div>
				        </div>

                    </div>

                    

                </div>
            </div>
        </div>
</section>