 <div class="row">
        <div class="col-md-3">            
            <div class="thumbnail">
                <a class="page-scroll" href="#pestinos">
                <div class="caption">
                     <h4 class='imagen'>Pestiños</h4>
                     <p>Pestiños de miel y azúcar</p><br/>                
                    <span class="glyphicon glyphicon-grande glyphicon-hand-up" aria-hidden="true"></span>  
                </div></a>
                    <%=image_tag 'foto 21.png', :alt => 'Pestiños de miel y azúcar'%></a>
                    </a>
            </div>
        </div>
      
        <div class="col-md-3">            
            <div class="thumbnail">
                <a class="page-scroll" href="#galleta">
                <div class="caption">
                    <h4 class='imagen'>Galletas</h4>
                    <p>Rellenas de crema pastelera</p><br/>                
                    <span class="glyphicon glyphicon-grande glyphicon-hand-up" aria-hidden="true"></span>          
                </div>
                 <%=image_tag 'foto 3.png', :alt => 'Galletas rellenas de crema pastelera'%></a>
            </div>
        </div>

        <div class="col-md-3">            
            <div class="thumbnail">
            <a class="page-scroll" href="#perruna">
                <div class="caption">
                     <h4 class='imagen'>Perrunas</h4>
                    <p>Deliciosas</p><br/>              
                    <span class="glyphicon glyphicon-grande glyphicon-hand-up" aria-hidden="true"></span>  
                </div>
                <%=image_tag 'foto 23.png', :alt => 'Perrunas'%></a>
            </div>
        </div>

        <div class="col-md-3">            
            <div class="thumbnail">
                <a class="page-scroll" href="#empanadilla">
                <div class="caption">
                     <h4 class='imagen'>Empanadillas</h4>
                    <p>Rellenas de cabello de ángel</p><br/>                
                    <span class="glyphicon glyphicon-grande glyphicon-hand-up" aria-hidden="true"></span>  
                </div>
                <%=image_tag 'foto 25.png', :alt => 'Empanadillas rellenas de cabello de ángel'%></a>
            </div>  
        </div> 