<%= render 'secciones/modal'%>

<section id="contactar" class="seccion-blanca">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="titulo">Contactar</h1>
                    <br/><br/>
                    <div class="row">
				        <div class="col-md-6"> 

				        	
				           <div class="contacto">
							       <p>Puedes contactar con nosotros en:</p> 
							       <p>&nbsp;<span class="glyphicon glyphicon-small glyphicon-earphone" aria-hidden="true"></span>&nbsp;&nbsp;<a class="econtacto" href="tel:+34954839035">954 839 035</a></p>
							       <p>&nbsp;<span class="glyphicon glyphicon-small glyphicon-send" aria-hidden="true"></span>&nbsp;&nbsp;<a  class="econtacto" href="mailto:info@pasteleriaalvarez.com?Subject=EnlaceWeb" target="_top">info@pasteleriaalvarez.com</a></p>
							       <br/>
							         <p>O si lo prefieres con el siguiente formulario:</p>
					       		</div>
				           <br/>
				           		<% if flash[:notice] %>
				           			<div class="alert alert-success alert-dismissable">
									  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><%= flash[:notice] %>
									</div>		    
								  <% end %>
								  <% if flash[:alert] %>
				           			<div class="alert alert-info alert-dismissable">
									  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><%= flash[:alert] %>
									</div>		    
								  <% end %>
						        <div><!--Contenedor formulario-->
						        
						        	<%= render "/secciones/formulariocontacto"%>

						        </div>
				      	</div>
				        <div class="col-md-6">    
				        		<div class="contacto">
				        			<p>Estamos en:</p>
				        			<p><address><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;&nbsp;Pastelería Álvarez SL Calle Alfonso XII 61,<br/>
						        			41439, Cañada Rosal (Sevilla)</address></p><br/>
				        		</div> 
				        		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d783.4798040111585!2d-5.210217699518232!3d37.59767526677706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb6e51553ea4d12dc!2sPasteler%C3%ADa+Alvares+S+L!5e0!3m2!1ses!2ses!4v1487364305724" width="500" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
						 </div>
                    </div>
                </div>
            </div>
        </div>
</section>

