<div class="creditos">
	<div class="row">
        <div class="col-lg-12">
            <p class="creditos"><span class="glyphicon glyphicon-small glyphicon-copyright-mark" aria-hidden="true"></span> Pastelería Álvarez SL 2017</p>
         </div>
    </div>
</div>