<section id="empanadilla" class="seccion-gris">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="titulo">Empanadillas</h1>
                    <br/><br/>
                    <div class="row">
				        
                    	
				         <div class="col-md-3">            
				            <div class="thumbnail img-fluid">
				                <div class="caption">
				                    <h4 class='imagen'>Empanadas</h4>
				                    <p>Seguimos la receta artesanal consiguiendo el mejor sabor.</p>        
				                </div>
				                 <%=image_tag ('foto 24.png')%>
				            </div> 
				            <div class="thumbnail img-fluid">
				                <div class="caption">
				                    <h4 class='imagen'>Presentación</h4>
				                    <p>En multiples formatos, para satisfacer a todos.</p>        
				                </div>
				                 <%=image_tag ('foto 25.png')%>
				            </div>   
				        </div>

				        <div class="col-md-5">     
                    			<div class="thumbnail img-fluid">
				                <div class="caption">
				                    <h4 class='imagen'>Máxima calidad</h4>
				                    <p>Rellenas del mejor cabello de ángel. El grado Brix se usa para medir la calidad del cabello de Ángel. El nuestro está por encima de la media.</p>        
				                </div>
				                 <%=image_tag ('foto 6.png')%>
				            	</div>
				         </div>   

				         <div class="col-md-4">            
				          
					           <p class="descripcion">Hechas con finas capas de hojaldre y horneadoas. Van rellenas con dulce cabello de ángel de calidad extra .
	                    		</p>

<p class="ialergeno"><span class="glyphicon glyphicon-mini glyphicon-info-sign" aria-hidden="true"></span>&nbsp;<a class="ialergeno" id="bempanadilla"role="button">Alérgenos</a></p><br/><br/><br/>

				        
	                    		
                    	</div>


                    </div>       
                </div>
            </div>
        </div>
</section>