<section id="inicio" class="seccion-inicio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="titulo">Productos Álvarez</h1>
                     <br/>
                    <p>Productos Álvarez es una empresa familiar, dedicada a la elaboración de dulces artesanos que distribuye sus productos a nivel nacional.</p>
					<p>La nuestra es la cuarta generación dedicada a la fabricación de pan y pastelería. Pestiños, galletas rellenas de crema pastelera y empanadillas son nuestros productos principales. En navidad también elaboramos los famosos roscones de reyes rellenos de la mejor nata.</p>
					 <br/>
                    <p><a class="naranja btn btn-default page-scroll" href="#acerca">Seguir leyendo</a></p>
                    <br/>
                	<%= render 'secciones/carrusel'%>
                </div>
                
            </div>
        </div>
</section>
