<!-- Ventanas modales tablas nutricionales-->
<style type="text/css">
.table{

}
.nutricion{
  font-family: "Myriad Pro";
  max-width: 500px;
}
th.nutricion {
  font-weight: bold;
  font-size: 120%
}
.tderecha{
  text-align: right;
}

</style>
<!-- Modal pestiño de miel-->
<div id="mnpmiel" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="xnpmiel">&times;</span>
      <p class=""><span class="glyphicon glyphicon-mini glyphicon-info-sign" aria-hidden="true"></span> Nutricional</p>
    </div>
    <div class="modal-body">
    <br/>
      <p class="alergeno"><strong>Información Nutricional por 100 g </strong></p>
          <!-- Tabla con valores nutricionales-->
          <p class="alergeno">
          <center>
          <table class="table table-sm table-borered table-striped table-hover table-condensed nutricion">
            <thead>
              <th class="nutricion">Valor energético</th>
              <th class="nutricion tderecha">1558 KJ - 370 Kcal.</th>
            </thead>
            <tbody>
              <tr>
                <th class="nutricion">Grasas</th>
                <td class="tderecha">32,8 g</td>
              </tr>
              <tr>
                 <th class="nutricion">De las cuales, saturadas</th>
                <td class="tderecha">4,60 g</td>
              </tr>
              <tr>
                 <th class="nutricion">De las cuales, monoinsaturadas</th>
                <td class="tderecha">7,80 g</td>
              </tr>
              <tr>
                 <th class="nutricion">De las cuales, poliinsaturadas</th>
                <td class="tderecha">2,60 g</td>
              </tr>
              <tr>
               <th class="nutricion">Hidratos de carbono</th>
                <td class="tderecha">59,50 g</td>
              </tr>
              <tr>
                 <th class="nutricion">De los cuales, azúcares</th>
                <td class="tderecha">3,00 g</td>
              </tr>
              <tr>
                 <th class="nutricion">Proteínas</th>
                <td class="tderecha">3,5 g</td>
              </tr>
              <tr>
                 <th class="nutricion">Sal</th>
                <td class="tderecha"></td>
              </tr>
            </tbody>
          </table>
          </center>
          </p>

      </p>
        <br/><br/>
    </div>
    <div class="modal-footer">
      
    </div>
  </div>
</div>
<!-- Modal pestiño de azucar-->
<div id="mnpazucar" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="xnpazucar">&times;</span>
      <p class=""><span class="glyphicon glyphicon-mini glyphicon-info-sign" aria-hidden="true"></span> Nutricional</p>
    </div>
    <div class="modal-body">
    <br/>
      <p class="alergeno">Nuestros <strong>pestiños de azúcar</strong> son <strong>aptos</strong> para intolerantes a la lactosa. </p>
      <p class="alergeno"> No contienen leche ni derivados de ésta.</p>
      <p class="alergeno">Pueden contener trazas de huevo, sulfitos, frutos de cáscara y granos de sésamo.</p>
        <br/><br/>
    </div>
    <div class="modal-footer">
      
    </div>
  </div>
</div>
<!-- Modal perruna-->
<div id="mnperruna" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="xnperruna">&times;</span>
      <p class=""><span class="glyphicon glyphicon-mini glyphicon-info-sign" aria-hidden="true"></span> Nutricional</p>
    </div>
    <div class="modal-body">
    <br/>
      <p class="alergeno">Nuestras <strong>perrunas</strong> son <strong>aptas</strong> para intolerantes a la lactosa. </p>
      <p class="alergeno"> No contienen leche ni derivados de ésta.</p>
      <p class="alergeno">Pueden contener trazas de huevo, sulfitos, frutos de cáscara y granos de sésamo.</p><br/<br/>
    </div>
    <div class="modal-footer">
      
    </div>
  </div>
</div>
<!-- Modal empanadilla-->
<div id="mnempanadilla" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="xnempanadilla">&times;</span>
      <p class=""><span class="glyphicon glyphicon-mini glyphicon-info-sign" aria-hidden="true"></span> Nutricional</p>
    </div>
    <div class="modal-body">
    <br/>
      <p class="alergeno">Nuestras <strong>empanadillas rellenas</strong> son <strong>aptas</strong> para intolerantes a la lactosa. </p>
      <p class="alergeno"> No contienen leche ni derivados de ésta.</p>
      <p class="alergeno">Pueden contener trazas de huevo, sulfitos, frutos de cáscara y granos de sésamo.</p>
        <br/><br/>
    </div>
    <div class="modal-footer">
      
    </div>
  </div>
</div>
<!-- Modal galletas-->
<div id="mngalleta" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="xngalleta">&times;</span>
      <p class=""><span class="glyphicon glyphicon-mini glyphicon-info-sign" aria-hidden="true"></span> Nutricional</p>
    </div>
    <div class="modal-body">
    <br/>
     
      <p class="alergeno">Pueden contener trazas de leche, incluyendo sus derivados, sulfitos, frutos de cáscara y granos de sésamo.</p>
        <br/><br/>
    </div>
    <div class="modal-footer">
      
    </div>
  </div>
</div>