<!-- Ventanas modales tablas nutricionales-->
<style type="text/css">
.table{

}
.nutricion{
  font-family: "Myriad Pro";
  max-width: 500px;
}
th.nutricion {
  font-weight: bold;
  font-size: 120%
}
.tderecha{
  text-align: right;
}

</style>
<!-- Modal pestiño de miel-->
<div id="mnpmiel" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="xnpmiel">&times;</span>
      <p class=""><span class="glyphicon glyphicon-mini glyphicon-info-sign" aria-hidden="true"></span> Nutricional</p>
    </div>
    <div class="modal-body">
       <p class="alergeno"><strong>Pestiño de miel</strong></p>
      <p class="alergeno"><caption><strong>Información Nutricional por 100 g </strong></caption></p>
          <p class="alergeno">
          <center>
          <table class="table table-sm table-borered table-striped table-hover table-condensed nutricion">
            <thead>
              <th class="nutricion">Valor energético</th>
              <th class="nutricion tderecha">2164,6 KJ - 519 Kcal.</th>
            </thead>
            <tbody>
              <tr>
                <th class="nutricion">Grasas</th>
                <td class="tderecha">32,8 g</td>
              </tr>
              <tr>
                 <th class="nutricion">De las cuales, saturadas</th>
                <td class="tderecha">4,9 g</td>
              </tr>
              <tr>
                 <th class="nutricion">De las cuales, monoinsaturadas</th>
                <td class="tderecha"></td>
              </tr>
              <!---
              <tr>
                 <th class="nutricion">De las cuales, poliinsaturadas</th>
                <td class="tderecha"></td>
              </tr>-->
              <tr>
               <th class="nutricion">Hidratos de carbono</th>
                <td class="tderecha">51,5 g</td>
              </tr>
              <tr>
                 <th class="nutricion">De los cuales, azúcares</th>
                <td class="tderecha">24,2 g</td>
              </tr>
              <tr>
                 <th class="nutricion">Proteínas</th>
                <td class="tderecha">3,5 g</td>
              </tr>
              <tr>
                 <th class="nutricion">Sal</th>
                <td class="tderecha">0,4 g</td>
              </tr>
            </tbody>
          </table>
          </center>
          </p>

      </p>
    </div>
    <div class="modal-footer">
      
    </div>
  </div>
</div>
<!-- Modal pestiño de azucar-->
<div id="mnpazucar" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="xnpazucar">&times;</span>
      <p class=""><span class="glyphicon glyphicon-mini glyphicon-info-sign" aria-hidden="true"></span> Nutricional</p>
    </div>
    <div class="modal-body">
     <p class="alergeno"><strong>Pestiño de azúcar</strong></p>
      <p class="alergeno"><caption><strong>Información Nutricional por 100 g </strong></caption></p>
          <!-- Tabla con valores nutricionales-->
          <p class="alergeno">
          <center>
          <table class="table table-sm table-borered table-striped table-hover table-condensed nutricion">
            <thead>
              <th class="nutricion">Valor energético</th>
              <th class="nutricion tderecha">2379,1 KJ - 571 Kcal.</th>
            </thead>
            <tbody>
              <tr>
                <th class="nutricion">Grasas</th>
                <td class="tderecha">39,4 g</td>
              </tr>
              <tr>
                 <th class="nutricion">De las cuales, saturadas</th>
                <td class="tderecha">5,6 g</td>
              </tr>
              <tr>
                 <th class="nutricion">De las cuales, monoinsaturadas</th>
                <td class="tderecha"></td>
              </tr>
             <!--
              <tr>
                 <th class="nutricion">De las cuales, poliinsaturadas</th>
                <td class="tderecha">2,60 g</td>
              </tr>-->
              <tr>
               <th class="nutricion">Hidratos de carbono</th>
                <td class="tderecha">48,4 g</td>
              </tr>
              <tr>
                 <th class="nutricion">De los cuales, azúcares</th>
                <td class="tderecha">11,7 g</td>
              </tr>
              <tr>
                 <th class="nutricion">Proteínas</th>
                <td class="tderecha">34,9 g</td>
              </tr>
              <tr>
                 <th class="nutricion">Sal</th>
                <td class="tderecha">0,5 g</td>
              </tr>
            </tbody>
          </table>
          </center>
          </p>

      </p>
    </div>
    <div class="modal-footer">
      
    </div>
  </div>
</div>
<!-- Modal perruna-->
<div id="mnperruna" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="xnperruna">&times;</span>
      <p class=""><span class="glyphicon glyphicon-mini glyphicon-info-sign" aria-hidden="true"></span> Nutricional</p>
    </div>
    <div class="modal-body">
     <p class="alergeno"><strong>Perruna</strong></p>
      <p class="alergeno"><caption><strong>Información Nutricional por 100 g </strong></caption></p>
          <!-- Tabla con valores nutricionales-->
          <p class="alergeno">
          <center>
          <table class="table table-sm table-borered table-striped table-hover table-condensed nutricion">
            <thead>
              <th class="nutricion">Valor energético</th>
              <th class="nutricion tderecha">1931 KJ - 460 Kcal</th>
            </thead>
            <tbody>
              <tr>
                <th class="nutricion">Grasas</th>
                <td class="tderecha">23,0 g</td>
              </tr>
              <tr>
                 <th class="nutricion">De las cuales, saturadas</th>
                <td class="tderecha">9,4 g</td>
              </tr>
              <tr>
                 <th class="nutricion">De las cuales, monoinsaturadas</th>
                <td class="tderecha">11,9 g</td>
              </tr>
             
              <tr>
                 <th class="nutricion">De las cuales, poliinsaturadas</th>
                <td class="tderecha">1,7 g</td>
              </tr>
              <tr>
               <th class="nutricion">Hidratos de carbono</th>
                <td class="tderecha">62,7 g</td>
              </tr>
              <tr>
                 <th class="nutricion">De los cuales, azúcares</th>
                <td class="tderecha">19,5 g</td>
              </tr>
              <tr>
                 <th class="nutricion">Proteínas</th>
                <td class="tderecha">4,5 g</td>
              </tr>
              <tr>
                 <th class="nutricion">Sal</th>
                <td class="tderecha">0,2 g</td>
              </tr>
            </tbody>
          </table>
          </center>
          </p>
      </p>
    </div>
    <div class="modal-footer">
      
    </div>
  </div>
</div>
<!-- Modal empanadilla-->
<div id="mnempanadilla" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="xnempanadilla">&times;</span>
      <p class=""><span class="glyphicon glyphicon-mini glyphicon-info-sign" aria-hidden="true"></span> Nutricional</p>
    </div>
    <div class="modal-body">
     <p class="alergeno"><strong>Empanadilla</strong></p>
      <p class="alergeno"><caption><strong>Información Nutricional por 100 g </strong></caption></p>
          <!-- Tabla con valores nutricionales-->
          <p class="alergeno">
          <center>
          <table class="table table-sm table-borered table-striped table-hover table-condensed nutricion">
            <thead>
              <th class="nutricion">Valor energético</th>
              <th class="nutricion tderecha">1158 KJ - 370 Kcal.</th>
            </thead>
            <tbody>
              <tr>
                <th class="nutricion">Grasas</th>
                <td class="tderecha">15,0 g</td>
              </tr>
              <tr>
                 <th class="nutricion">De las cuales, saturadas</th>
                <td class="tderecha">7,8 g</td>
              </tr>
              <tr>
                 <th class="nutricion">De las cuales, monoinsaturadas</th>
                <td class="tderecha">4,6 g</td>
              </tr>
             
              <tr>
                 <th class="nutricion">De las cuales, poliinsaturadas</th>
                <td class="tderecha">2,6 g</td>
              </tr>
              <tr>
               <th class="nutricion">Hidratos de carbono</th>
                <td class="tderecha">59,5 g</td>
              </tr>
              <tr>
                 <th class="nutricion">De los cuales, azúcares</th>
                <td class="tderecha">33,8 g</td>
              </tr>
              <tr>
                 <th class="nutricion">Proteínas</th>
                <td class="tderecha">3,0 g</td>
              </tr>
              <tr>
                 <th class="nutricion">Sal</th>
                <td class="tderecha"></td>
              </tr>
            </tbody>
          </table>
          </center>
          </p>
      </p>
    </div>
    <div class="modal-footer">
      
    </div>
  </div>
</div>
<!-- Modal galletas-->
<div id="mngalleta" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="xngalleta">&times;</span>
      <p class=""><span class="glyphicon glyphicon-mini glyphicon-info-sign" aria-hidden="true"></span> Nutricional</p>
    </div>
    <div class="modal-body">
      <p class="alergeno"><strong>Galleta</strong></p>
      <p class="alergeno"><caption><strong>Información Nutricional por 100 g </strong></caption></p>
          <!-- Tabla con valores nutricionales-->
          <p class="alergeno">
          <center>
          <table class="table table-sm table-borered table-striped table-hover table-condensed nutricion">
            <thead>
              <th class="nutricion">Valor energético</th>
              <th class="nutricion tderecha">1717,0 KJ - 409 Kcal.</th>
            </thead>
            <tbody>
              <tr>
                <th class="nutricion">Grasas</th>
                <td class="tderecha">20,0 g</td>
              </tr>
              <tr>
                 <th class="nutricion">De las cuales, saturadas</th>
                <td class="tderecha">6,6 g</td>
              </tr>
              <tr>
                 <th class="nutricion">De las cuales, monoinsaturadas</th>
                <td class="tderecha">9,3 g</td>
              </tr>
              <tr>
                 <th class="nutricion">De las cuales, poliinsaturadas</th>
                <td class="tderecha">4,1 g</td>
              </tr>
              <tr>
               <th class="nutricion">Hidratos de carbono</th>
                <td class="tderecha">58,6 g</td>
              </tr>
              <tr>
                 <th class="nutricion">De los cuales, azúcares</th>
                <td class="tderecha">45,8 g</td>
              </tr>
              <tr>
                 <th class="nutricion">Proteínas</th>
                <td class="tderecha">2,3 g</td>
              </tr>
              <tr>
                 <th class="nutricion">Sal</th>
                <td class="tderecha"></td>
              </tr>
            </tbody>
          </table>
          </center>
          </p>
      </p>
      </div>
    <div class="modal-footer">
      
    </div>
  </div>
</div>