<section id="pazucar" class="seccion-blanca">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="titulo">Pestiño de azucar</h1>
                    <br/><br/>
                    <div class="row">
                    	<div class="col-md-4">            
				            <div class="thumbnail img-fluid">
				                <div class="caption">
				                    <h4 class='imagen'>Envases a medida</h4>
				                    <p>En plato, en bandeja, en blister o si lo necesitas a granel puro. Distribuciones para todos los consumidores.</p>        
				                </div>
				                 <%=image_tag 'foto 10.png', :alt => 'Plato de pestiños de azúcar'%>
				            </div>
				             <div class="thumbnail img-fluid">
				                <div class="caption">
				                    <h4 class='imagen'>Hechos a mano</h4>
				                    <p>Cada pestiño se hace individualmente a mano. ¡No hay dos iguales!</p>        
				                </div>
				                 <%=image_tag 'foto 16.png', :alt => 'Pestiños de azúcar artesanos'%>
				            </div>
				        </div>
				        <div class="col-md-4">            
				            <div class="thumbnail img-fluid">
				                <div class="caption">
				                    <h4 class='imagen'>El mejor azúcar</h4>
				                    <p>Sólo usamos azúcar nacional de la mejor calidad.</p>        
				                </div>
				                 <%=image_tag 'foto 17.png', :alt => 'Pestiños de azúcar con el mejor azúcar nacional'%>
				                 
				            </div>
				             <div class="thumbnail img-fluid">
				                <div class="caption">
				                    <h4 class='imagen'>Deliciosos</h4>
				                    <p>Nuestros pestiños de azúcar se hacen siguiendo la receta tradiccional y se elaboran de manera artesanal, consiguiendo el mejor sabor.</p>        
				                </div>
				                 <%=image_tag 'foto 12.png', :alt => 'Pestiños de azúcar en bandeja'%>
				            </div>
				        </div>
				        <div class="col-md-4">            
				             <p class="descripcion">
	                    		Pestiños elaborados a mano según nuestra receta más tradicional y con ingredientes de la mejor calidad, harina, vino, matalahúga y clavo recién molidos. Acompañados de aromas de anís, naranja y canela y espolvoreados con finos granos del mejor azúcar nacional.

                    		</p>
				        </div>
				      
				        <p class="ialergeno"><span class="glyphicon glyphicon-mini glyphicon-info-sign" aria-hidden="true"></span>&nbsp;<a class="ialergeno" id="bpazucar" role="button">Alérgenos</a>
								&nbsp;&nbsp;
								<span class="glyphicon glyphicon-mini glyphicon-info-sign" aria-hidden="true"></span>&nbsp;<a class="ialergeno" id="bnpazucar"role="button">Nutricional</a>

				        </p><br/><br/><br/>

							

                    </div>

                    

                </div>
            </div>
        </div>
</section>