<section id="perruna" class="seccion-gris">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="titulo">Perrunas</h1>
                    <br/><br/>
                    <div class="row">
				        
				      	<div class="col-md-3">            
				            <div class="thumbnail img-fluid">
				                <div class="caption">
				                    <h4 class='imagen'>Multiples formatos</h4>
				                    <p>En bandeja o a granel puro. Distribuimos a medida.</p>        
				                </div>
				                 <%=image_tag ('foto 7.png')%>
				            </div>
				             <div class="thumbnail img-fluid">
				                <div class="caption">
				                    <h4 class='imagen'>Para todos</h4>
				                    <p>Sin lactosa. Ni leche, ni derivados para que todos lo puedan disfrutar.</p>        
				                </div>
				                 <%=image_tag ('foto 22.png')%>
				            </div>
				             
				        </div>

				        <div class="col-md-6">            
				            <div class="thumbnail img-fluid">
				                <div class="caption">
				                    <h4 class='imagen'>Deliciosas</h4>
				                    <p>Artesanas, hechas con los mejores ingredientes para que las disfrutes.</p>        
				                </div>
				                 <%=image_tag ('foto 23.png')%>
				            </div>
				             
				        </div>
				        <div class="col-md-3">            
				           <p class="descripcion">
	                    	Perrunas de elaboración casera con ingredientes de gran calidad. Hechas de harina, azúcar, manteca de cerdo ibérico, huevos y canela recién molida.

                    		</p>
				        </div>
                    </div>

                    

                </div>
            </div>
        </div>
</section>