<section id="pestinos" class="seccion-blanca">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="titulo">Pestiños de miel y de azucar</h1>
                    <br/>
                    <p>Pastelería Álvarez hace dos clases de pestiños, de azucar o de miel. Siempre siguiendo la receta tradicional y de manera artesana con los mejores ingredientes. </p><br/>
                    <div class="row">
				        <div class="col-md-6">            
				       		<div class="thumbnail img-fluid">
				       			 <a class="page-scroll" href="#pmiel">
				                <div class="caption">
				                    <h4 class='imagen'>Pestiño de miel</h4>
				                    <p>Con miel pura de abeja de la sierra norte de Sevilla. Cada pestiño se hace a mano individualmente. </p><br/><br/> <br/>  <br/>   <br/>   <br/>                   
                   					 <span class="glyphicon glyphicon-grande glyphicon-hand-up" aria-hidden="true"></span>          
				                </div>
				                 <%=image_tag ('foto 21.png')%></a>
				            </div>
				        </div>
				      
				        <div class="col-md-6">            
				            <div class="thumbnail img-fluid">
				             <a class="page-scroll" href="#pazucar">
				                <div class="caption">
				                    <h4 class='imagen'>Pestiño de azucar</h4>
				                    <p>Siguiendo la receta artesanal y con el mejor azúcar de origen nacional</p>
				                    <br/><br/><br/><br/><br/><br/>               
                   					<span class="glyphicon glyphicon-grande glyphicon-hand-up" aria-hidden="true"></span>          
				                </div>
				                 <%=image_tag ('foto 16.png')%></a>
				            </div>
				            
				        </div>

                    </div>

                    

                </div>
            </div>
        </div>
</section>